# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install XcodeGen
      run: brew install xcodegen
    - name: Generate Xcode Project
      run: xcodegen generate
    - name: Build for Simulator
      run: |
        xcodebuild build \
          -project VoxVault.xcodeproj \
          -scheme VoxVault \
          -destination 'platform=iOS Simulator,OS=latest,name=iPhone 14' \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO \
          CODE_SIGNING_ALLOWED=NO
